.git
.gitignore

tests/**
.pytest_cache/**

Dockerfile
.dockerignore

README.md
.vscode
.pre-commit-config.yaml
.venv

**/*/__pycache__
**/*/__init__.py

benchmark_beta.py
benchmark_optimized.py

docs/**